.main{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 14vh;
    overflow: hidden;
    background:rgb(163 230 53);
}

.sliderContainer{
    position: absolute;
    top: calc(12vh - 80px);
}

.slider{
    position: relative;
    white-space: nowrap;
}

.slider p{
    position: relative;
    margin: 0px;
    color: white;
    font-size: 60px;
    font-weight: 500;
    padding-right: 50px;
}

.slider p:nth-of-type(2){
    position: absolute;
    left: 100%;
    top: 0;
}